/*MAIN COLORS FOR HOWA THEME VARIABLES*/

$color-white: #fff;
$color-black: #000;
$color-primary: #3B6978;
$color-primary-light: #84A9AC;
$color-primary-dark: #204051;
$color-highlight-1: #9F283A;
$color-highlight-2: #EE8433;

