/*MAIN COLORS FOR HOWA THEME VARIABLES*/
/*MIXINS */
/*Reset Site*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.wrapper {
  /*Background image*/
  background-image: url(/img/steven-kamenar-MMJx78V7xS8-unsplash.jpg);
  background-size: cover;
  background-position: center;
  /*Set Height and stuff*/
  height: 100vh;
  width: 100%; }
